*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  // 1rem = 10px

  @include respond(phone-smallest) {
    font-size: 50%;
    // 1rem = 8px
  }
}

body {
  min-width: 100%;
  min-height: 100vh;
  font-size: $default-font-size;
  font-family: $default-font-family;
  color: var(--color-black);
  background: $linear-gradient-2;
}
